@import "tailwindcss";



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto Mono", monospace;
}

header {
  background-color: #4f46e5; 
  padding: 1rem 2rem;
  display: flex;          
  justify-content: space-between; 
  align-items: center;      
}



footer {
  background-color: #1f2937; 
  padding: 1rem 2rem;
  text-align: center;
}




.landing-title {
  font-size: 3rem;           
  font-weight: bold;
  text-align: center;
}
